
.wrapper{
    margin: 1.3em;
    margin-left:3em;
    display:flex;
    flex-wrap: nowrap;
    
    justify-content: space-between;
}

.item{
    flex:50%;
    width:60%;
    height:auto;
}

img{
    width:60%;
    height:auto;
}